.main {
    margin-top: 30px;  
}
.sitem {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    height: 80px;
    border-radius: 2px;
}
.simg {
    border-radius: 50%;
    float: left;
    width: 60px;
    height: 60px;
}
.sdiv {
    float: left;
    line-height: 60px;
    margin-left: 20px;
}
.sbutton {
    float: right;
    margin-top: 20px;
}