.paper {
    margin: 30px 0;
}

.cover {
    float: left;
    height: 200px;
}

.detail {
    display: inline-block;
    margin: 30px;
}

.marginLeft {
    margin-left: 30px;
}

.halfLeft {
    float: left;
    width: 50%;
    text-align: center;
    border: solid #ddd;
    border-width: 0 1px 0 0
}

.halfRight {
    margin-left: 50%;
    text-align: center;
}

.money {
    color: orange;
    font-size: 200%;
    margin: 0 10px;
}

.item {
    height: 110px;
    margin: 30px;
    display: inline-block;
}

.img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
}

.span {
    display: inline-block;
    line-height: 80px;
    margin-left: 20px;
}