.paper {
    margin: 30px 0;
}

.paper h2 {
    margin: 10px;
}

.money {
    color: orange;
    font-size: 200%;
    margin: 0 10px;
}

.item {
    margin-left: 10px;
    height: 120px;
    background-color: white;
    display: inline-block
}

.img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.divImg {
    background-color: #f9f9f9;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.span {
    display: block;
    width: 80px;
    text-align: center;
}
.bar {
    display: block;
    height: 16px;
    line-height: 14px;
    width: 80px;
    font-size: 11px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    background-color: #00a2e2;
    font-style: normal;
    position: absolute;
    margin-top: -16px;
}