.container {
    margin: 40px 10px 10px;
}
.oitem {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    height: 80px;
}
.oimg {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    float: left;
}
.otitle {
    display: inline-block;
    width: 100px;
    line-height: 70px;
    margin-left: 20px;
}
.button {
    margin-top: 20px;
    float: right;
}